
/* Déclarations de variables */
:root 
{
  --colorPrimary: #0065fc;
  --colorSecondary: #deebff;
  --colorThird: #f2f2f2;
}

/* Ajout de la police de caractere "Raleway" */
@font-face 
{
  font-family: "Raleway-Regular";
  src: url("./Policy/static/Raleway-Regular.ttf");
}

/* Application de la police pour tout le body */
body 
{
  font-family: "Raleway-Regular", serif, sans-serif;
  margin: 0;
}

/* Container pour appliquer une marge à l'ensemble du document sauf au footer */
#blocpage 
{
   margin: 0 50px;
}

a 
 {
   text-decoration: none;
   color: black;
 }

/* cover
Le contenu remplacé est dimensionné pour maintenir son ratio d'affichage tout en remplissant toute la boîte de contenu. La taille réelle est calculée pour couvrir la zone décrite par la hauteur et la largeur de l'élément. Si les ratios de l'objet et de la boîte ne correspondent pas, le contenu remplacé sera rogné. */
img 
{
   object-fit: cover;
}

/*HEADER*/
header 
{
   display: flex;
   height: 130px;
}

#logo 
{
   display: flex;
   align-items: center;
   width: 100%;
}

#logo img 
 {
   height: 50px;
 }

nav 
 {
   display: flex;
   align-items: center;
 }

.nav 
 {
   display: flex;
   align-items: center;
   justify-content: center;
   height: 99%;
   width: 150px;
 }

.nav:hover
  {
   border-top: 2px solid var(--colorPrimary);
   position: relative;
   bottom: 1px;
   color: var(--colorPrimary);
  }

.blue 
 {
   color: var(--colorPrimary);
   font-weight: 900;
 }

#inscription 
 {
   display: flex;
   align-items: center;
 }

h1 
 {
   margin: 0px 0 10px 0;
   font-size: 1.35rem;
 }

h2 
 {
   font-size: 1.4rem;
   font-weight: 900;
   margin: 0 0 26px 0;
 }
h3 
 {
   margin: 0;
   font-size: 1rem;
   font-weight: 900;
 }

#fontWeight 
 {
   margin-bottom: 26px;
   font-size: 1rem;
   font-weight: 200;
 }

p 
 {
   margin: 0;
 }

/*FORM */
form 
 {
   display: flex;
 }

label 
 {
   background: var(--colorThird);
   border-radius: 10px 0 0 10px;
   width: 50px;
   height: 50px;
   display: flex;
   align-items: center;
   justify-content: center;
 }

label i 
 {
   font-size: 20px;
 }

input 
{
   width: 228px;
   padding-left: 19px;
   font-weight: 900;
   border-top: 1px solid var(--colorThird);
   border-bottom: 1px solid var(--colorThird);
   border-right: 0;
   border-left: 0;
   font-size: 1.1rem;
}

input::placeholder 
 {
   color: black;
   font-size: 1.1rem;
 }

button 
 {
   width: 95px;
   margin: 0;
   background: var(--colorPrimary);
   color: white;
   font-weight: 900;
   padding: 0 10px;
   border-radius: 0 10px 10px 0;
   border: none;
   cursor: not-allowed;
 }

#loupe 
 {
   display: none;
 }

/*FILTERS*/
#filters 
  {
   display: flex;
   align-items: center;
   margin-top: 33px;
 }

#filters h2 
 {
   margin: 0;
 }

#filtersType 
  {
   display: flex;
   margin-left: 33px;
 }

.filtersType 
 {
   display: flex;
   align-items: center;
 }

.filtersType:hover 
{
  cursor: not-allowed;
  color: red;
}

.filtersType i 
{
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--colorPrimary);
  width: 50px;
  height: 50px;
  background-color: var(--colorSecondary);
  border-radius: 50%;
  z-index: 2;
}

.filtersType h3 
{
  position: relative;
  right: 20px;
  height: 44px;
  padding: 0px 15px 0px 30px;
  border: 3px solid var(--colorThird);
  border-radius: 0 25px 25px 0;
  white-space: nowrap;
  margin-right: 10px;
  display: flex;
  align-items: center;
}

/* INFORMATION */
#information 
{
  display: flex;
  align-items: center;
  margin: 20px 0;
}

#information i 
{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  color: var(--colorPrimary);
  font-size: 0.7rem;
  height: 24px;
  width: 24px;
  border-radius: 50%;
  border: 1px solid var(--colorThird);
}

/*MAIN */
main 
{
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

section 
 {
   display: flex;
   justify-content: space-between;
   flex-direction: column;
   background-color: var(--colorThird);
   border-radius: 15px;
   padding: 46px 40px;
 }

#Premieresection
{
  width: 60%;
}

.Blocsection
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.plaque
{
   display: flex;
   height: 200px;
   width: 30%;
   border: 4px solid white;
   background-color: white;
   border-radius: 20px;
   box-shadow: 0px 1px 19px 0px #bcbcbc;
   color: black;
   margin-bottom: 26px;
}

.plaque a 
{
  width: 100%;
}

.photo
{
  width: 100%;
  height: 60%;
  border-radius: 20px 20px 0 0;
  overflow: hidden;
}

.photo img 
{
  height: 100%;
  width: 100%;
}

.phototexte
{
  padding: 5px 10px;
  line-height: 23px;
  white-space: nowrap;
  font-size: 0.9rem;
}

.etoiles 
{
  color: var(--colorPrimary);
  font-size: 0.6rem;
}

.colorThird 
{
  color: var(--colorThird)
}

#Lesplupopulaires
{
  width: 25%;
}

#Lesplupolairestitre 
{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

#Lespluspopulaires .fa-chart-line 
{
  font-size: 1.4rem;
  margin-bottom: 26px;
}

#Bloclespluspopulaires
{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}

#Lespluspopulaires .plaque
{
  width: 100%;
  height: 129px;
}
#Lespluspopulaires .plaque a 
{
  display: flex;
  height: 100%;
}

#Lespluspopulaires .photo
{
  height: 100%;
  width: 148px;
  border-radius: 15px 0 0 15px;
}

#Lespluspopulaires .phototexte 
 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 60%;
  white-space: normal;
  margin-left: 10px;
 }

/*ActiviteMarseille*/

#ActiviteMarseille 
{
  margin-top: 65px;
  padding: 0;
  background-color: white;
}

#ActiviteMarseille h2 
{
  margin-bottom: 30px;
}

.ActiviteMarseillecontener
{
  display: flex;
  justify-content: space-between;
}

.contener1photo,
.contener2photos 
{
  width: 23%;
}

#ActiviteMarseille .plaque 
{
  width: 100%;
  border: none;
  margin: 0;
}

.contener1photo .plaque
{
  height: 100%;
}

.contener2photos
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.contener2photos .plaque 
{
  height: 47%;
}

.contener1photo .photo
{
  height: 390px;
}

.contener2photos .photo
{
  height: 155px;
}

.contener2photos a 
{
  width: 100%;
  
}

#ActiviteMarseille .phototexte
{
  padding: 0 20px;
  display: flex;
  align-items: center;
  white-space: normal;
  height: 50px;
}

/*FOOTER */
footer 
{
  margin-top: 62px;
  padding: 32px 393px 32px 50px;
  display: flex;
  justify-content: space-between;
  background-color: var(--colorThird);
}

.footerContenus 
{
  display: flex;
  flex-direction: column;
  line-height: 37px;
}
/* <<<<<<RESPONSIVE >>>>> */

/* <<< 1200px>>>>*/

@media (max-width: 1200px) 
{
  #blocpage
  {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  header 
  {
    width: 100%;
  }

  main 
  {
    flex-direction: column;
    align-items: center;
  }

  #Premieresection
  {
    width: 100%;
    margin-top: 20px;
    order: 2;
  }

  #Premieresection h2,
  #Premieresection .plaque
  {
    margin-bottom: 30px;
  }

  #Lespluspopulaires
  {
    width: 100%;
  }

  #Bloclespluspopulaires
  {
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  #Lespluspopulaires .plaque
  {
    width: 32%;
  }

  #ActiviteMarseille 
  {
    width: 100%;
    margin-top: 30px;
  }

  #ActiviteMarseille .plaque
  {
    height: 200px;
  }

  #ActiviteMarseille .contener2photos .plaque
  {
    width: 49%;
  }

  .ActiviteMarseillecontener
  {
    flex-direction: column;
    align-items: center;
    height: 100%;
  }

  .contener1photo,
  .contener2photos
  {
    margin-bottom: 20px;
    height: 200px;
    width: 100%;
  }

  .contener1photo a 
  {
    width: 100%;
  }

  .contener1photo .plaque 
  {
    min-width: 100%;
  }

  .contener2photos .photo,
  .contener1photo .photo
  {
    height: 150px;
  }

  .contener2photos .phototexte,
  .contener1photo .phototexte
  {
    height: 35px;
    justify-content: center;
  }

  .contener2photos
  {
    flex-direction: row;
  }

  .contener2photos .plaque 
  {
    height: 100%;
  }

  footer 
  {
    margin-top: 0;
    padding: 40px;
    justify-content: space-around;
  }
}

/* < 992px>*/
@media (max-width: 992px) 
{
  main 
  {
    width: 100%;
  }

  #blocpage
  {
    align-items: initial;
  }

  #filters 
  {
    flex-direction: column;
    align-items: initial;
  }

  #filtersType 
  {
    flex-wrap: wrap;
    margin: 0;
  }

  .filtersType 
  {
    margin-top: 10px;
    margin-bottom: 10px;
  }

  #Bloclespluspopulaires 
  {
    flex-direction: column;
    width: 100%;
    align-items: center;
  }

  #Lespluspopulaires .plaque 
  {
    width: 100%;
    max-width: 90%;
  }
}

/* <768px> */
@media (max-width: 768px) 
{
   #blocpage 
   {
    margin: 0;
   }

  header 
  {
    height: 114px;
    align-items: center;
    position: relative;
    margin-bottom: 61px;
  }

  #logo,
  #inscription 
  {
    height: 104px;
    width: 50%;
    padding: 0 5%;
  }

  #logo 
  {
    margin-bottom: 7px;
  }

  #inscription 
  {
    justify-content: flex-end;
  }

  nav 
  {
    order: 2;
    position: absolute;
    top: 97px;
    width: 100%;
  }

  .nav:hover 
  {
    border-top: none;
    border-bottom: 1px solid var(--colorPrimary);
    /* Evite le décalage du text du à la bordure */
    top: 1px;
  }

  .blue:hover 
  {
    /* Evite le décalage du text du à la bordure */
    border-bottom: 1px solid transparent;
  }

  .nav 
  {
    width: 50%;
    height: 50px;
  }

  h1 
  {
    margin-bottom: 18px;
  }
  h1,
  #fontWeight,
  form,
  #filters,
  #information {
    margin-right: 21px;
    margin-left: 21px;
  }

  #fontWeight 
  {
    margin-bottom: 0;
  }

  form 
  {
    margin-top: 40px;
  }

  button 
  {
    border-radius: 10px;
    width: 50px;
  }

  #rechercher 
  {
    display: none;
  }
  #loupe 
  {
    display: block;
    font-size: 18px;
  }

  #information 
  {
    margin: 24px 21px 37px 21px;
  }
  main 
  {
    margin: 0;
  }

  section 
  {
    padding: 46px 0;
  }

  #Lespluspopulaires
  {
    align-items: center;
  }

  #Lespluspopulairestitre
  {
    width: 90%;
  }

  .Blocsection
  {
    flex-direction: column;
  }

  #Premieresection 
  {
    background-color: white;
    margin-top: 0;
  }

  #Premieresection h2 
  {
    margin-left: 20px;
  }

  #marge 
  {
    margin: 20px 0 0 20px;
  }

  #Premieresection .plaque,
  #Lespluspopulaires .plaque 
  {
    width: 90%;
    margin-bottom: 10px;
  }

  .contener1photo,
  .contener2photos
  {
    width: 90%;
    height: 200px;
  }

  #ActiviteMarseille h2 
  {
    margin-left: 20px;
  }

  footer 
  {
    flex-direction: column;
    align-items: center;
    padding-top: 0;
  }

  .footerContenus
  {
    align-items: center;
  }
}

/* <<<<<<<<<576px>>>>>>>  */
@media (max-width: 576px) 
{
  .contener2photos
  {
    flex-direction: column;
    height: 100%;
    margin-bottom: 0;
  }

  #ActiviteMarseille .contener2photos .plaque
  {
    min-width: 100%;
    margin-bottom: 20px;
  }

  .contener1photo .phototexte,
  .contener2photos .phototexte 
  {
    justify-content: initial;
  }

  footer,
  .footerContenus
  {
    align-items: initial;
    padding-top: 10px;
    margin-top: 15px;
  }
}

/*  <<<<<<350px>>>>>> */

@media (max-width: 350px) 
{
  h1,
  #fontWeight,
  form,
  #filters,
  #information 
  {
    margin-right: 0;
    margin-left: 0;
  }

  input 
  {
    width: 158px;
  }

  #Lespluspopulaires .phototexte
  {
    padding: 0;
  }
}



